<div class="container box" aria-live="polite">
    <div class="row">
        <div id="postlist">
            <div class="panel">
                <div class="panel-heading">
                    <div class="text-center">
                        <div class="row">
                            <div class="d-flex align-items-center justify-content-center ">
                                <h3 class=""><i class="bi bi-dice-2 fs-1 m-1"></i><span
                                        class="text-center">{{event.name}}</span><i class="bi bi-dice-2 fs-1 m-1"></i>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" d-flex align-items-center justify-content-center ">
                                <h4 class="">
                                    <small><em> <span class="badge rounded-pill text-bg-primary text-center"
                                                aria-label="Créé le {{moment event.createdAt format=" DD/MM/YYYY
                                                HH:mm:ss"}}">Créé le
                                                {{moment event.createdAt format="DD/MM/YYYY
                                                HH:mm:ss"}}</span></em></small>
                                </h4>
                            </div>
                        </div>

                    </div>
                </div>
                {{!-- integration de l'image en correspondance du jeu

                <img src="" alt="">

                --}}


                <div class="panel-body m-2 row">
                    <div
                        class=" col-sm-4 col-md-4 col-lg-4 mx-auto text-break d-flex align-items-center justify-content-center">
                        <p class="text-center">{{event.description}}</p>
                    </div>
                </div>
                <div class="panel-body mt-4 row">
                    <div class=" col-sm-4  col-md-4 col-lg-4 mx-auto d-flex align-items-center justify-content-center">
                        <p class="text-center" aria-label="Le {{event.event_date}} à {{event.event_time}}"> Le
                            <b>{{event.event_date}}</b> à <b>{{event.event_time}}</b>
                        </p>
                    </div>
                </div>
                <div class="panel-body m-2 row">
                    <div class="  col-sm-4 col-md-4 col-lg-4 mx-auto d-flex align-items-center justify-content-center">
                        <span class="text-center"
                            aria-label="le nombre de participants : {{availablePlaces}} sur {{event.players_number}}">
                            le nombre de participants : <span
                                class="text-danger"><b>{{availablePlaces}}</b></span>/<b>{{event.players_number}}</b></span>
                    </div>
                </div>
                <hr>
                <form action="/event/{{event.id}}/register" method="post">
                    <button id="registerButton" class="btn btn-success" type="submit"
                        aria-label="S'inscrire">S'inscrire</button>
                </form>
                {{#if message}}
                <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                    {{{message}}} <button type="button" class="btn-close" data-bs-dismiss="alert"
                        aria-label="Close"></button>
                </div>
                {{/if}}



                {{#if isAdmin}}
                <div class="row">
                    <div class="col d-flex align-items-center justify-content-center">
                        <a href="/event/{{event.id}}" type="button" class="btn btn-outline-warning m-2 "
                            data-bs-toggle="modal" data-bs-target="#ModalEventModif{{event.id}}"> Modifier
                            l'événement</a>

                        <button type="button" class="btn btn-outline-danger m-2" data-bs-toggle="modal"
                            data-bs-target="#ModalEventSupp{{event.id}}"> Supprimer l'événement</button>
                    </div>
                </div>
                {{/if}}


                {{!-- pop up pour modifier --}}

                <div class="modal fade" id="ModalEventModif{{event.id}}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Modifier L'événement</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/event/update/{{event.id}}" method="post">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Titre</label>
                                        <input name="eventName" type="text" class="form-control"
                                            id="exampleFormControlInput1" placeholder="name" value="{{event.name}}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                                        <textarea name="eventDescription" class="form-control"
                                            id="exampleFormControlTextarea1" rows="3">{{event.description}}</textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Date</label>
                                        <input name="eventDate" type="date" class="form-control"
                                            id="exampleFormControlInput1" placeholder="Date"
                                            value="{{event.event_date}}">
                                        <label for="exampleFormControlInput1" class="form-label">Time</label>
                                        <input name="eventTime" type="text" class="form-control"
                                            id="exampleFormControlInput1" placeholder="Heure"
                                            value="{{event.event_time}}">
                                        <label for="exampleFormControlInput1" class="form-label">Nombre de
                                            joueurs</label>
                                        <input name="playersNumber" type="number" class="form-control"
                                            id="exampleFormControlInput1" placeholder="Nombre de joueurs"
                                            value="{{event.players_number}}">
                                    </div>

                                    <button type="submit" class="btn btn-warning">Modifier</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- fin pop up Modif --}}

                {{!-- pop up pour supprimer --}}

                <div class="modal fade" id="ModalEventSupp{{event.id}}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="/event/delete/{{event.id}}" method="post">
                                <div class="modal-header">
                                    <h4>Êtes-vous sûr de vouloir supprimer ?</h4>
                                </div>
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>