<div class="container box">
    <div class="row">
        <div id="postlist">
            <div class="panel">
                <div class="panel-heading">
                    <div class="text-center">
                        <div class="row">
                            <div class="d-flex align-items-center justify-content-center ">
                                <h3 class=""><i class="bi bi-dice-2 fs-1 m-1"></i> <span
                                        class="text-center">{{game.game_name}}</span><i
                                        class="bi bi-dice-2 fs-1 m-1"></i>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" d-flex align-items-center justify-content-center ">
                                <h4 class="">
                                    <small><em> <span class="badge rounded-pill text-bg-darkblue text-center">Créé le
                                                {{moment event.createdAt format="DD/MM/YYYY
                                                HH:mm"}}</span></em></small>
                                </h4>
                            </div>
                        </div>

                    </div>
                </div>
                {{!-- integration de l'image en correspondance du jeu

                <img src="" alt="">

                --}}
                <div class="panel-body mt-4 row">
                    <img src="{{game.imageUrl}}" class="card-img-top imgCover" alt="image du jeu">
                </div>

                <div class="panel-body m-2 row">
                    <div
                        class=" col-sm-4 col-md-4 col-lg-4 mx-auto text-break d-flex align-items-center justify-content-center">
                        <p class="text-center">{{game.game_desc}}</p>
                    </div>
                </div>
                <hr>

                {{#if isAdmin}}
                <div class="col d-flex align-items-center justify-content-center">
                    <a href="/game/update/{{game.id}}" class="btn btn-outline-warning m-1"> modifier
                        le jeu</a>

                    <button type="button" class="btn btn-outline-danger m-1" data-bs-toggle="modal"
                        data-bs-target="#Modal{{game.id}}"> Supprimer le jeu</button>
                </div>
                {{/if}}
            </div>

            <!-- Modal -->
            <div class="modal fade" id="Modal{{game.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation de suppression</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                Fermer</button>
                        </div>
                        <div class="modal-body">
                            Êtes vous sur de vouloir supprimer ce jeu : <em> {{game.game_name}} ?</em></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="/game/delete/{{id}}" method="post">
                                <button type="submit" class="btn btn-danger">Supprimer définitivement</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>