<div class="container-fluid">
    <div class="row">
        <h2 class="dynapuff">Liste des jeux</h2>
    </div>
    {{#each games}}
    <div class="row">
        
        <div class="col-sm-10 col-md-4 col-lg-4">
            <div class="card" style="width: 22rem;">
                <img src="{{imageUrl}}" class="card-img-top imgCover" alt="...">
                <div class="card-header">
                    <small>
                        <div class="rounded-pill badge text-bg-warning float-end ms-2">
                            <i class="bi bi-person-plus-fill"></i>
                            <span>{{player_number}} joueurs</span>
                        </div>
                    </small>
                    <small>
                        <div class="rounded-pill badge text-bg-success float-end">
                            <i class="bi bi-dice-2"></i>
                            <span>Catégorie {{cat_name}}</span>
                        </div>
                    </small>
                </div>
                <div class="card-body">
                    <h5 class="card-title mt-1">{{game_name}}</h5>
                    <p class="card-text">{{game_desc}}</p><br><br>
                    <a href="/game/read/{{id}}" class="btn btnOrange m-2 float-end">Voir le jeu</a>

                </div>
                <div class="card-header">{{!-- integration du jeu et sa page ou sa modale --}}
                    <a href="#" class="card-link">Jeu joué</a>
                </div>
                {{!-- if isAdmin --}}
                <div class="row ">
                    <div class="col-md-6">

                        <a href="/game/update/{{id}}" class="btn btn-outline-warning m-1"> modifier
                            le jeu</a>
                    </div>

                    <div class="col-md-6">
                        <button type="button" class="btn btn-outline-danger m-1" data-bs-toggle="modal"
                            data-bs-target="#Modal{{id}}"> Supprimer le jeu</button>
                    </div>
                    {{!--/if --}}

                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="Modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation de suppression</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        Fermer</button>
                </div>
                <div class="modal-body">
                    Êtes vous sur de vouloir supprimer ce jeu : <em> {{game_name}} ?</em></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="/game/delete/{{id}}" method="post">
                        <button type="submit" class="btn btn-danger">Supprimer définitivement</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>